page-addroom {
    ion-icon{
        position: absolute;
        top: 319px;
        left: 5px;
    }
    img{
        margin-left: 5px;
        width: 50px !important;
        height: 50px !important;
    }
}
