.ion-md-qrcode:before { 
    content: url("../assets/fonts/qrcode.svg");
}
.ion-ios-qrcode:before { 
    content: url("../assets/fonts/qrcode.svg");
}
.ion-md-manager:before { 
    content: url("../assets/fonts/manager.svg");
}
.ion-ios-manager:before { 
    content: url("../assets/fonts/manager.svg");
}
.ion-md-orders:before { 
    content: url("../assets/fonts/orders.svg");
}
.ion-ios-orders:before { 
    content: url("../assets/fonts/orders.svg");
}
.ion-md-liucheng:before { 
    content: url("../assets/fonts/liucheng.svg");
}
.ion-ios-liucheng:before { 
    content: url("../assets/fonts/liucheng.svg");
}
.ion-md-pingtai:before { 
    content: url("../assets/fonts/pingtai.svg");
}
.ion-ios-pingtai:before { 
    content: url("../assets/fonts/pingtai.svg");
}
.ion-md-shebei:before { 
    content: url("../assets/fonts/shebei.svg");
}
.ion-ios-shebei:before { 
    content: url("../assets/fonts/shebei.svg");
}
.ion-md-shezhi:before { 
    content: url("../assets/fonts/shezhi.svg");
}
.ion-ios-shezhi:before { 
    content: url("../assets/fonts/shezhi.svg");
}
.ion-md-feedback:before { 
    content: url("../assets/fonts/feedback.svg");
}
.ion-ios-feedback:before { 
    content: url("../assets/fonts/feedback.svg");
}
.ion-md-add:before { 
    content: url("../assets/fonts/add.svg");
}
.ion-ios-add:before { 
    content: url("../assets/fonts/add.svg");
}
.ion-md-publish:before { 
    content: url("../assets/fonts/publish.svg");
}
.ion-ios-publish:before { 
    content: url("../assets/fonts/publish.svg");
}
.ion-md-myadd:before { 
    content: url("../assets/fonts/myadd.svg");
}
.ion-ios-myadd:before { 
    content: url("../assets/fonts/myadd.svg");
}
.ion-md-noread:before { 
    content: url("../assets/fonts/noread.svg");
}
.ion-ios-noread:before { 
    content: url("../assets/fonts/noread.svg");
}