page-rooms {
    .add{
        top: 20px;
        right: 15px;
        position: absolute;
    }
    .status{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 8px;
        left: 16px;
    }
    .inactive{
        width: 70px;
        height: 70px;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

